@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 96, 165, 250;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@keyframes flicker {
  0% {
    opacity: 0.97;
  }
  5% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  15% {
    opacity: 0.85;
  }
  20% {
    opacity: 0.95;
  }
  25% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.95;
  }
  35% {
    opacity: 1;
  }
}

.retro-container {
  position: relative;
  overflow: hidden;
}

.retro-container::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
  background-size: 100% 4px;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

.retro-container::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

/* Custom cursor styles */
.cursor-custom {
  cursor: none;
}

.cursor-custom::after {
  content: "";
  display: block;
  width: 10px;
  height: 20px;
  background-color: #60a5fa;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

