---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import GitHub from "../icons/GitHub.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";

import Experience from "../components/Experience.astro";
---

<Layout
  title="Gloomy's Portfolio - Web Developer & AI Developer"
  description="Contratame para crear la app de tus sueños"
>
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-5 pb-10">
        Hey soy Sebas<div class="flex justify-center items-center">
          <a
            href="https://www.linkedin.com/in/sebastián-mesa-460361226/"
            target="_blank"
            class="flex justify-center items-center"
          >
            <Badge>Open to Work</Badge>
          </a>
        </div>
      </h1>
      <h2 class="text-2xl opacity-75 text-wrap pb-4">
        Desarrollador Web. De Medellin 🇨🇴
      </h2>
      <nav class="flex gap-x-2">
        <SocialPill
          href="https://www.linkedin.com/in/sebastián-mesa-460361226/"
        >
          <LinkedIn class="size-6" /> Linkedin
        </SocialPill>
        <SocialPill href="https://github.com/GLOOMYY">
          <GitHub class="size-6" /> GitHub
        </SocialPill>
      </nav>
      <Experience />
    </section>
  </main>
</Layout>
