---
const today = new Date();
import { GITHUB_LINK, MASTODON_LINK, TWITTER_LINK } from "../consts";
import MastodonLogo from "../logos/MastodonLogo.astro";
import GithubLogo from "../logos/GithubLogo.astro";
import TwitterLogo from "../logos/TwitterLogo.astro";
---

<footer>
  &copy; {today.getFullYear()} Gloomy. All rights reserved.
  <div class="social-links">
    <a href={GITHUB_LINK} target="_blank">
      <span class="sr-only">Go to my GitHub repo</span>
      <GithubLogo />
    </a>
    <a href={TWITTER_LINK} target="_blank">
      <span class="sr-only">Follow Astro on Twitter</span>
      <TwitterLogo />
    </a>
    <a href={MASTODON_LINK} target="_blank">
      <span class="sr-only">Follow Astro on Mastodon</span>
      <MastodonLogo />
    </a>
  </div>
  <style>
    footer {
      padding: 2em 1em 6em 1em;
      background: linear-gradient(var(--gray-gradient)) no-repeat;
      color: rgb(var(--gray));
      text-align: center;
    }
    .social-links {
      display: flex;
      justify-content: center;
      gap: 1em;
      margin-top: 1em;
    }
    .social-links a {
      text-decoration: none;
      color: rgb(var(--gray));
    }
    .social-links a:hover {
      color: rgb(var(--gray-dark));
    }
  </style>
</footer>
