---
import PythonLogo from "./logos/PythonLogo.astro";
import GitLogo from "./logos/GitLogo.astro";
import JavascriptLogo from "./logos/JavascriptLogo.astro";
---

<div>
  <h3>🔨 Languages and Tools:</h3>
  <div>
    <!-- Width & Height === 40 -->
    <PythonLogo class="logo" />
  </div>
</div>
<style></style>
